@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .bg-intro {
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
  }
}

@keyframes slideLogo {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slideText {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(90px);
  }
}

.logo-animation {
  animation: slideLogo 300ms forwards ease-out;
  animation-delay: 500ms;
}

.text-animation {
  animation: slideText 300ms forwards ease-out;
  animation-delay: 850ms;
}