@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.slide-out-right {
  animation: slideOutRight 150ms forwards ease-in-out;
}

.slide-in-right {
  animation: slideInRight 150ms forwards ease-in-out;
}

.slide-in-left {
  animation: slideInLeft 150ms forwards ease-in-out;
}

.slide-out-left {
  animation: slideOutLeft 150ms forwards ease-in-out;
}

@layer components {
  .bg-intro {
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}